---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
   {
   projectLink: "https://ubcmmhc.com/", 
   githubLink: "https://github.com/UBC-MMHC",
   title: "Club Website | Mens Mental Health Club",
    desc: [
      "Integrated Stripe to improve conversions for memberships",
      "Developed a website for the Mens Mental Health Club members at UBC",
      "Designed and implemented UI, backend, and database architecture",
      "Contributed to RESTful API design"
    ],
    tech: ["React", "Next.js", "SpringBoot", "Postgres", "Heroku"]
  },
  {
    title: "IT Help Desk Technician",
    desc: [
 "Translated complex technical concepts into understandable language for non technical clients" ,
"Provided remote support for software fixes, and system configuration.",
"Diagnosed and resolved technical issues across Windows and MacOS systems.",
    ],
    tech: ["Windows", "MacOS", "Linux", "Virtualization", "Sys Admin"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Experience | Jagman Sidhu" />
  <body>
    <div class="content">
        <Sidebar selectedItem="experience" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Experience</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        projectLink={project.projectLink}   
                        githubLink={project.githubLink}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
