---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
   {
   projectLink: "https://ubcmmhc.com/", 
   githubLink: "https://github.com/UBC-MMHC",
   title: "Software Developer | Mens Mental Health Club",
    desc: [
      "Lead the technical roadmap and end-to-end development of a community platform, leading a team of 5 to centralize resource access for 65+ active members using Next.js and Spring Boot.",
      "Implemented custom JWT with Google OAuth and IP-based rate limiting to prevent DDOS attacks and unauthorized access.",
      "Boosted membership conversions by 30% by integrating Stripe payment for a streamlined checkout process.",
      "Architecting layered Spring Boot backend following clean code practices to decouple modules into microservices.",
      "Collaborated with finance and event leads to transform manual operational workflows into ticketing business logic.",
      "Developed an administrative dashboard for non-technical executives to manage user roles and event registrations.",
      "Designed a normalized PostgreSQL schema and optimized query performance for high-traffic event periods."
    ],
    tech: ["Spring Boot", "Next.js", "PostgreSQL", "REST APIs", "Java", "TypeScript", "Stripe", "Google OAuth"]
  },
  {
    title: "IT Support Specialist | SSL Computers",
    desc: [
      "Managed full cycle hardware repairs and OS deployments for 11+ daily clients, utilizing structured diagnostic protocols to resolve complex system failures across Windows, macOS, and Linux environments.",
      "Accelerated hardware diagnostic workflows by 40% by developing custom PowerShell automation scripts."
    ],
    tech: ["Linux", "MacOS", "Windows", "PowerShell"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Experience | Jagman Sidhu" />
  <body>
    <div class="content">
        <Sidebar selectedItem="experience" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Experience</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        projectLink={project.projectLink}   
                        githubLink={project.githubLink}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
