---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
const projects = [
  {
    githubLink: "https://github.com/jagmansidhu/DaRoomate",
    title: "DaRommate",
    desc: [
      "Developed a custom full stack management platform to automate household expense splitting and landlord correspondence, replacing manual tracking with an automated system.",
      "Secured cloud infrastructure by implementing S3 with IAM least privilege policies for secure document storage.",
      "Architected a resilient data layer using AWS RDS with Multi-AZ backups to prevent important data loss.",
      "Engineered a real-time notification system using WebSockets, enabling instant synchronization of shared ledgers.",
      "Achieved 100% test coverage by implementing JUnit and Mockito for backend to ensure stable production builds."
    ],
    tech: ["Spring Boot", "React", "PostgreSQL", "Docker", "S3", "RDS", "EC2", "Websockets", "Java", "TypeScript"]
  },
  {
    githubLink: "https://github.com/jagmansidhu/DiagnosisHealthNLP",
    title: "Lumina",
    desc: [
      "Engineered an NLP-powered screening platform to categorize user sentiment and mental health inquiries, leveraging Transformer models to provide a low friction entry point for individuals seeking initial support.",
      "Utilized Pandas and NumPy for data cleaning, normalizing unstructured text to make inference more reliable.",
      "Fine tuned, pre trained Transformer models to perform multi class text classification and identify user intents.",
      "Developed a web interface to deliver real-time predictions, ensuring users receive immediate categorization and resources."
    ],
    tech: ["Python", "Pandas", "Numpy", "Transformers"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Personal Projects | Jagman Sidhu" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        projectLink={project.projectLink}   
                        githubLink={project.githubLink}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
